<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/shopping-cart">Shopping Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Log In</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link " routerLink="/check-out" >Check out !</a>
        </li>
      
        
<li class="nav-item dropdown" ngbDropdown #myDrop="ngbDropdown">
  <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
  <div ngbDropdownMenu aria-labelledby="dropdownManual">
    <a routerLink="/orders" ngbDropdownItem>My orders</a>
    <a routerLink="/admin/orders" ngbDropdownItem>Manage orders</a>
    <a routerLink="/admin/products" ngbDropdownItem>Manage products</a>
    <a routerLink="/login" ngbDropdownItem>Log out</a>
  
  </div>
  </li>
      </ul>
    
    </div>
  </nav>
